<div class="text-center">
<h1 class="text-3xl font-bold">エントリーする</h1>
<h2 class="mt-8 text-2xl pb-5">飯王に登録する</h2>
<%= link_to new_entry_path(category: 'food'), class: 'inline-flex items-center justify-center w-12 h-12 bg-blue-500 text-white rounded-full hover:bg-blue-700' do %>
  <i class="fa-solid fa-utensils"></i>
<% end %>

<h2 class="mt-8 text-2xl pb-5">酒王に登録する</h2>
<%= link_to new_entry_path(category: 'drink'), class: 'inline-flex items-center justify-center w-12 h-12 bg-blue-500 text-white rounded-full hover:bg-blue-700' do %>
  <i class="fa-solid fa-wine-glass"></i>
<% end %>

</div>
