<div class="px-6 py-10 text-center">
  <h1 class="text-3xl font-bold text-gray-700">
    TokyuRuby会議
  </h1>

  <p class="mt-6 text-lg text-gray-600 leading-relaxed">
    まだイベントが作成されていません。<br>
  </p>

  <% if current_user.admin? %>
    <div class="mt-8">
      <%= link_to "管理画面へ", admin_events_path,
        class: "inline-block px-5 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700" %>
    </div>
  <% end %>
</div
