<div class="max-w-lg mx-auto p-6 bg-white rounded-md sm:shadow-md text-center space-y-4">
  <i class="fa-regular fa-heart text-green-500 text-5xl mb-4"></i>
  <h1 class="text-3xl font-bold mb-2">投票が完了しました</h1>
  <h2 class="text-xl text-gray-700">ご投票ありがとうございます！</h2>
  <div>
  <%= link_to "続けて投票する", entries_path(category: @category), class: "bg-blue-500 text-white px-6 py-3 rounded-full hover:bg-blue-600 inline-block mt-6 transition duration-300 ease-in-out" %>
  </div>
  <div>
  <%= link_to "TOPへ戻る", root_path, class: "bg-blue-500 text-white px-6 py-3 rounded-full hover:bg-blue-600 inline-block mt-6 transition duration-300 ease-in-out" %>
  </div>
</div>
